body {
    height: 100%;
    width: 100%;
}

body header {
    background-color: #3d3de6;
    height: 100%;
    width: 100%;    

}

.col-centered{
    float: none;
    margin: 0 auto;
}

#output {
    margin-left: 10px;
    margin-right: 10px;
}

#exec {
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 10%;
}

#records {
    font-size: 8;
    border: 1px solid black;
}

#records td, th {
    font-size: small
}
