body {
    height: 100%;
    width: 100%;
}

body header {
    background-color: lightblue;
    height: 100%;
    width: 100%;    

}

.col-centered{
    float: none;
    margin: 0 auto;
}

#records {
    border: 1px solid black;
}

#queryText {
    width: 50%;
    min-width: 100px;
    min-height: 100px;
}
